---
import ChannelAvatar from '../../components/ChannelAvatar.astro'
import List from '../../components/list.astro'
import { getChannelInfo, getChannelPost } from '../../lib/telegram'

const { SITE_URL } = Astro.locals

const channelInfo = await getChannelInfo(Astro)

if (!Astro.params.id) {
  return Astro.redirect('/')
}

const post =
  channelInfo.posts.find((item) => item.id === Astro.params.id) ?? (await getChannelPost(Astro, Astro.params.id))

if (!post) {
  return new Response('Not Found', {
    status: 404,
    headers: {
      'Cache-Control': 'public, max-age=300, s-maxage=300',
    },
  })
}

const channel = {
  ...(channelInfo || {}),
  posts: [post],
}
---

<List
  channel={channel}
  before={false}
  after={false}
  isItem={true}
  pageHeading={post.title || channel.title}
  pageSeo={post}
  pageType="post"
>
  <div slot="header" class="breadcrumb" role="navigation" aria-label="Breadcrumb">
    <ol>
      <li>
        <a href={SITE_URL} title={channel?.title}>
          <ChannelAvatar channel={channel} alt="" loading="eager" width="20" height="20" class="breadcrumb-avatar" />
          <span>{channel.title}</span>
        </a>
      </li>
    </ol>
  </div>
</List>
